<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Spot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C6D0ACF91DABF74000BD1458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6D0AD0D1DABF74000BD1458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6D0AD181DABF74000BD1458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
